xsd/dico.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="dictionnaire" type="Dictionnaire"/>

    <xs:complexType name="Dictionnaire">
        <xs:sequence>
            <element name="mot" type="Mot" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Mot">
       <xs:attribute name="niveau" type="IntNiveau"/>
       <xs:restriction base="xs:string">
           <xs:minLength value="3"/>
           <xs:pattern value="([a-zA-Z])*"/>
       </xs:restriction>
    </xs:complexType>

    <xs:complexType name="IntNiveau">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="5"/>
        </xs:restriction>
    </xs:complexType>





</xs:schema>
