xsd/dico.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <element name="dictionnaire" type="Dictionnaire"/>

    <complexType name="Dictionnaire">
        <sequence>
            <element name="mot" type="Mot" minOccurs="3" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <simpleType name="Mot" type="string">
       <attribute name="niveau" type="IntNiveau"/>
       <restriction>
           <minLength value="3"/>
           <pattern value="([a-zA-Z])*"/>
       </restriction>
    </simpleType>

    <simpleType name="IntNiveau">
        <restriction base="int">
            <minInclusive value="0"/>
            <maxInclusive value="5"/>
        </restriction>
    </simpleType>





</xs:schema>
